body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhfoDMrPp4xL0tHZU3C1TzVJm2C5y7fXtxQw&s');
    background-repeat: no-repeat;
    background-size: cover;

}

img{
    width: 500px;
    height: 500px;
}

h1{
    display: flex;
    justify-content: center;

}
